.node-val-0 {
  background-color: lightcoral;
}

.node-val-1 {
  background-color: burlywood;
}

.node-val-2 {
  background-color: rgb(255, 225, 56);
}

.node-val-3 {
  background-color: lightblue;
}
